<script src="~/js/OrderProgress.js"></script>
<div class="OrderProgress">
    <div id="C1ProgressBarShoppingProgress" style="width:950px;"></div>
</div>
@Html.Hidden("HFOrderStep", (int)@ViewBag.OrderStep, new { id = "HFOrderStep" })

